.btn-primary{
    background-color: blueviolet!important;
    border-color: rgb(10, 0, 10) !important;
    
}

.btn-primary:hover {
  background-color: rgb(64,0,123) !important;

}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.form-link {
    text-decoration: none;
    color: rgb(27, 27, 27);
  }

  .form-link:hover {
    color: rgb(255, 123, 0);
    transition: 0.25s;
  }

  
